/* Home.css */
section {
    text-align: center;
    width: 50vw;
  }
  
  h1 {
    color: #007bff;
  }
  
  button {
    margin-top: 20px;
  }
  
  .carrossel img{
    max-width: 40vw;
    height: 200px;
  }

  .carousel img{
    width: 37vw;
  }