/* Home.css */
section {
    text-align: center;
    width: 50vw;
  }
  
  h1 {
    color: #007bff;
  }
  
  button {
    margin-top: 20px;
  }
  
  .carousel img{
    width: 100%;
    margin-left: 0;
  }

  @media (max-width: 768px) {
  .carousel img{ 
      width: 100%; 
    }
  }
  