/* Estiliza a navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
}

.logo {
  height: 100px; /* Ajuste o tamanho da logo conforme necessário */
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007bff;
}
